*.zip
castle-gdpr-webhook
json/json
response.txt
test.txt
users/castle-gdpr-users
users/response.txt
.DS_Store
.envrc

# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

terraform/output.txt
